<div class="container">
	<% if @result.empty? %>
		<h1>해당 검색결과가 없습니다.</h1>
	<% else %>
		<h1>검색 결과</h1>
		<table>
			<tr>
				<th>이름</th>
				<th>이메일</th>
				<th>전화번호</th>
				<th></th>
			</tr>
			<% for i in 0..(@result.length-1) %>
				<tr>
					<%= form_tag '/search/route', method: :post do %>
						<%= hidden_field_tag 'contact_id', @result[i].id %>
						<td><%= @result[i].user_name %></td>
						<td><%= @result[i].email %></td>
						<td><%= @result[i].phone_number %></td>
						<td><%= submit_tag "find route", id: "find_route" %></td>
					<% end %>
				</tr>
			<% end %>
		</table>
	<% end %>
</div>
